
.first{
	padding-left: 70px;
	background-color: #4385c1;
}
a{
	color: white;
	
	text-decoration: blink;
}
h1{
	font-size: xx-large;
	color: white;
	margin-top: 0px;
	letter-spacing: 5px; 
}
h4{
	color: #6baadf;
	font-size: small;
	margin-top: -12px;
}
.b1 {
	background-color: #4385c1;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	border-color:#6baadf;
	border-radius:5px; 
}
.second{
	background-color: #043867;
	padding-left: 80px;
}
.head{
	color: #6baadf;
}
img{
	height: 290px;
    width: 750 px;
}
section{
	 padding-left: 80px;
    padding-top: 45px;
}
.cd{
	padding: 40px;
	display: inline-block;
	background-color: #909c16;
	color: white;
	font-size: small;
}
.card{
	background-color: #9e9e9e59;
	transition: 0.3s;
  width: 40%;

}
h3{
color: blue;
}
.container {
  padding: 2px 16px;
}
.sec-card{
	background-color: #620e6e;
	transition: 0.5s;
  width: 40%;
}
.thr-card{
	background-color: #4385c1;
	transition: 0.3s;
  width: 40%;
}
.p{
	padding-left: 80px;
	color: #4385c1;

}
.b{
	background-color: white;
	padding-left: 80px;
}
.b2{
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #4385c1;
	border-color:#6baadf;
	border-radius:5px; 

}
footer{
	background-color: #34383c;

	text-color:#6d7976;
}
.h5{
	padding-left: 80px;
	color: #f2f9fc;
}
.plast{
	color: #6d7976;
	padding-left: 80px;
}
.p1{
	color: #949493;
	padding-left: 20px;
}
.h3{

	color: #528dc4;
	padding-left: 20px;
	padding-top: 30px;
}
.h4{
	color: #f5eff6;
}
h2{
	color: #81858d;
}
p{
	color: #c6bbb6;
	font-size: small;
}
h5{
	padding-left: 10px;
	color: #fdffff;
	font-size
}
.p3{
	color: #fdffff;
}